<div class="container">
  <h1>Welcome to Bitoli!</h1>
  <div class="form">
    <form class="shortener" action="/urls" method="post">
      <div><input type="text" name="resource" placeholder="Your URL"></div>
      <div><input type="submit" value="Shorten your URL!"></div>
    </form>
  </div>

  <div>
    <% if @new_url %>
        <p>Your New URL:</p>
        <p>
          <a href="/<%=@new_url.short_resource%>">bit.oli/<%= @new_url.short_resource %></a> -- <span>Visits: <%= @new_url.visit_count %></span>
        </p>
    <% end %>

    <% if @prev_urls %>
        <p>Your Older URLs:</p>
        <% @prev_urls.each do |historic_url| %>
          <p>
            <a href="/<%=historic_url.short_resource%>">bit.oli/<%= historic_url.short_resource %></a> -- <span>Visits: <%= historic_url.visit_count %></span>
          </p>
      <% end %>
    <% end %>
  </div>

</div>
